html {
  font-size: 16px;
}

.navbar {
  border-bottom: solid 1px #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.addPost-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin-left: 7%;
  margin-right: 7%;
}

.svgIcon-use {
  position: relative;
  top: -467px;
  left: 8rem;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  width: 10px;
  padding-right: 29px;
  padding-bottom: 2px;
  justify-content: center;
  height: 35px;
}

.items {
  color: #000;
  text-decoration: inherit;
}

.search-btn {
  display: none;
}

.write {
  display: flex;
}

.search-div {
  width: 15%;
}

.logo {
  height: 50px;
  width: auto;
}

.account {
  height: 30px;
  width: auto;
}

.search {
  display: flex;
  text-align: right;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 30px;
  min-height: 2rem;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
}

.search input {
  border: none;
  width: 100%;
  height: 25px;
  background-color: #f9f9f9;
}

.search input:focus {
  outline: none;
}

.right-nav-content {
  align-items: center;
}

.dynamic {
  border-right: solid 1px #f2f2f2;
  height: 90%;
}

.static {
  border-left: solid 1px #f2f2f2;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.li-items {
  padding-left: 7%;
  font-size: 1em;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
}

.post {
  border: none;
  border-bottom: solid 1.5px #f2f2f2 !important;
  align-items: center;
}

.posts-div {
  padding: 1%;
  position: fixed;
  height: 78%;
  width: 55%;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 5%;
}

hr {
  width: 80%;
  margin-left: 9%;
}

.write {
  text-decoration: none;
}

.cut-off {
  --max-lines: 5;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.web-items {
  padding-left: 1.5rem;
}

.title {
  justify-content: center;
  text-align: center;
}

.write-btn {
  background-color: white;
  border: 0;
}

.write-title {
  border: 0;
  font-family: Georgia;
  font-size: 40px;
  width: 68.5%;
}

::placeholder {
  color: #b3b3b1;
}
.write-text {
  border: 0;
  font-family: Georgia;
  font-size: 21px;
  margin-left: 12.5%;
  resize: none;
  margin-top: -20px;
  width: 69%;
}

.write-title:focus {
  outline: none;
}

.write-text:focus {
  outline: none;
}

.post-title {
  margin-left: 12.5%;
}

.b {
  border-radius: 0px 0px 10px 10px;
}

.boo {
  margin-top: 10%;
}

.account-modal{
  margin-left: 35%;
  margin-top: 2%;
}

@media (max-width: 702px) {
  .search {
    display: none;
  }

  .cut-off {
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
  }

  .write {
    display: none;
  }

  .search-btn {
    display: flex;
  }

  .post {
    width: 95%;
  }

  .li-items {
    font-size: 14px;
    padding-left: 5%;
    overflow: hidden;
    overflow-x: scroll;
  }

  .navbar {
    padding-right: 5% !important;
  }

  .items {
    width: 7em;
  }

  .web-items {
    width: 10rem;
    padding-left: 0%;
  }
}

@media (max-width: 900px) {
  .static {
    display: none;
  }
  .posts-div {
    padding: 1%;
    position: fixed;
    height: 78%;
    width: 90%;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 7%;
  }
  .left-content {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .svgIcon-use {
    display: none;
  }
  .write-text{
    margin-left: 15.8%;
  }
}
